### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
PurchBase = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
PurchFile = pd.read_csv(PurchBase, index_col="Purchase ID")

PurchFile.head(1)

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

## Player Count

* Display the total number of players

In [2]:
TotalPlayers = pd.DataFrame({"Unique Players":PurchFile[["SN"]].nunique()},)
TotalPlayers.rename(index={"SN":"Count"}, inplace=True)
TotalPlayers

       Unique Players
Count             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique = int(PurchFile["Item Name"].nunique())
Average = PurchFile["Price"].mean()
PurchCount = PurchFile ["SN"].count()
Total = PurchFile["Price"].sum()

Average = "$" + str(round(Average,2))
Total = "$" + str(Total)


Overall = pd.DataFrame({"Number of Unique Items":[Unique], 
                      "Average Price":[Average], 
                      "Number of Purchases":[PurchCount],
                      "Total Revenue":[Total]})
Overall

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
GendDemo = PurchFile.groupby(["Gender"]).nunique()
del GendDemo["Age"]
del GendDemo["Gender"]
del GendDemo ["Item ID"]
del GendDemo["Item Name"]
del GendDemo["Price"]
GendDemo.sort_values("SN",ascending = False, inplace=True)
GendDemo.rename(columns={"SN":"Total Count"}, inplace=True)

GendDemo

                       Total Count
Gender
Male                           484
Female                          81
Other / Non-Disclosed           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
GendPurch = PurchFile.groupby(['SN']).agg({"Price":'count','Price':'mean'})
GendPurch

                  Price
SN
Adairialis76   2.280000
Adastirin33    4.480000
Aeda94         4.910000
Aela59         4.320000
Aelaria33      1.790000
...                 ...
Yathecal82     2.073333
Yathedeu43     3.010000
Yoishirrala98  4.580000
Zhisrisu83     3.945000
Zontibe81      2.676667

[576 rows x 1 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame