### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
PurchBase = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
PurchFile = pd.read_csv(PurchBase, index_col="Purchase ID")

## Player Count

* Display the total number of players

In [2]:
TotalPlayers = pd.DataFrame({"Unique Players":PurchFile[["SN"]].nunique()},)
TotalPlayers.rename(index={"SN":"Count"}, inplace=True)
TotalPlayers

       Unique Players
Count             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique = int(PurchFile["Item Name"].nunique())
Average = PurchFile["Price"].mean()
PurchCount = PurchFile ["SN"].count()
Total = PurchFile["Price"].sum()

Average = "$" + str(round(Average,2))
TotalPretty = "$" + str(f'{Total:,}')


Overall = pd.DataFrame({"Number of Unique Items":[Unique], 
                       "Average Price":[Average], 
                       "Number of Purchases":[PurchCount],
                       "Total Revenue":[TotalPretty]})
Overall

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Total = PurchFile["SN"].nunique()
GendDemo = PurchFile.groupby(["Gender"]).nunique()
GendDemo = GendDemo.drop(['Age', 'Gender', 'Item ID', 'Item Name', 'Price'], axis = 1)
Percent = round((GendDemo["SN"]/ Total)*100,2)

GendDemo["Percent of Players"] = Percent
GendDemo.sort_values("SN",ascending = False, inplace=True)
GendDemo.rename(columns={"SN":"Total Count"}, inplace=True)
GendDemo["Percent of Players"] = GendDemo["Percent of Players"].map("{:,.2f}%".format)
GendDemo

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
GendAnalysis = PurchFile.groupby(['Gender']).agg({"Price":'count'})
GendUnique = PurchFile.groupby(["Gender"]).agg({"SN":'nunique'})
GAvePurch = round(PurchFile.groupby(['Gender']).agg({"Price":'mean'}),2)
GendAnalysis["Average Purchase Price"] = GAvePurch
GTotalPurch = round(PurchFile.groupby(['Gender']).agg({"Price":'sum'}),2)
GendAnalysis["Total Purchase Value"] = GTotalPurch
# GendAnalysis["Unique Players"] = GendUnique
# GendPPP = GTotalPurch/GendUnique
GendPPP
GendAnalysis



# GendAnalysis["Average Purchase Price"] = GendAnalysis["Average Purchase Price"].map("${:,.2f}".format)
# GendAnalysis["Total Purchase Value"] = GendAnalysis["Total Purchase Value"].map("${:,.2f}".format)

NameError: name 'GendPPP' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
PurchFile["Age"].max()

In [ ]:
Total = PurchFile["SN"].nunique()
AgeBuckets = [0, 9, 14, 19, 24, 29, 34, 39, 100]
AgeLabels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
PurchFile["Age Range"] = pd.cut(PurchFile["Age"], AgeBuckets, labels = AgeLabels, include_lowest=False)
PurchTable = PurchFile.groupby("Age Range").nunique()
PurchTable = PurchTable.drop(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'Age Range'], axis = 1)
AgePercent = round((PurchTable["SN"]/ Total)*100,2)
PurchTable["Percent of Players"] = AgePercent
PurchTable.rename(columns={"SN":"Total Count"}, inplace=True)
PurchTable["Percent of Players"] = PurchTable["Percent of Players"].map("{:,.2f}%".format)
PurchTable

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
AgeBuckets = [0, 9, 14, 19, 24, 29, 34, 39, 100]
AgeLabels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
AgePurch = PurchFile
AgePurch["Age Range"] = pd.cut(AgePurch["Age"], AgeBuckets, labels = AgeLabels, include_lowest=False)
AgePurch = AgePurch.groupby(['Age Range']).agg({"Price":'count'})
AgeAvePurch = PurchFile.groupby(['Age Range']).agg({"Price":'mean'})
AgePurch["Average Purchase Price"] = AgeAvePurch
AgeTTLPurch = PurchFile.groupby(['Age Range']).agg({"Price":'sum'})
AgePurch["Total Purchase Value"] = AgeTTLPurch

AgePurch.rename(columns={"Price":"Purchase Count"}, inplace=True)
AgePurch

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame