### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
PurchBase = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
PurchFile = pd.read_csv(PurchBase, index_col="Purchase ID")

45

## Player Count

* Display the total number of players

In [2]:
TotalPlayers = pd.DataFrame({"Unique Players":PurchFile[["SN"]].nunique()},)
TotalPlayers.rename(index={"SN":"Count"}, inplace=True)
TotalPlayers

       Unique Players
Count             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique = int(PurchFile["Item Name"].nunique())
Average = PurchFile["Price"].mean()
PurchCount = PurchFile ["SN"].count()
Total = PurchFile["Price"].sum()

Average = "$" + str(round(Average,2))
Total = "$" + str(Total)


Overall = pd.DataFrame({"Number of Unique Items":[Unique], 
                      "Average Price":[Average], 
                      "Number of Purchases":[PurchCount],
                      "Total Revenue":[Total]})
Overall

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Total = PurchFile["SN"].nunique()
GendDemo = PurchFile.groupby(["Gender"]).nunique()
del GendDemo["Age"]
del GendDemo["Gender"]
del GendDemo ["Item ID"]
del GendDemo["Item Name"]
del GendDemo["Price"]
Percent = round((GendDemo["SN"]/ Total)*100,2)
GendDemo["Percent of Players"] = Percent
GendDemo.sort_values("SN",ascending = False, inplace=True)
GendDemo.rename(columns={"SN":"Total Count"}, inplace=True)

GendDemo

                       Total Count  Percent of Players
Gender
Male                           484               84.03
Female                          81               14.06
Other / Non-Disclosed           11                1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
GCountPurch = int(PurchFile.groupby(['Gender']).agg({"Price":'count'}))
GCountPurch
GAvePurch = round(PurchFile.groupby(['Gender']).agg({"Price":'mean'}),2)
GAvePurch
GTotalPurch = PurchFile.groupby(['Gender']).agg({"Price":'sum'})
GTotalPurch
PurchAnalysis = pd.DataFrame({"Purchase Count":[GCountPurch], 
                      "Average Purchase Price":[GAvePurch], 
                      "Total Purchase Value":[GTotalPurch]})
PurchAnalysis

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
PurchFile["Age"].max()

In [57]:
AgeBuckets = [0, 10, 14, 19, 24, 29, 34, 39, 100]
AgeLabels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
PurchFile["Age Range"] = pd.cut(PurchFile["Age"], AgeBuckets, labels = AgeLabels, include_lowest=True)
PurchFile

,SN,Age,Gender,Item ID,Item Name,Price,Age Range
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,Ennrian78,24,Male,50,Dawn,4.60,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame